<div class="container">
  <h1>List</h1>
  <div class="d-flex">
    <ul>
      <% @lists.each do |list|  %>
          <li class="list-movie"><%= link_to(list.name, list_path(list) ) %></li>
      <% end %>
    </ul>
  </div>
</div>
